<!DOCTYPE html>
<html>
<head>
  <title>eShop</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
  <script src="script.js" defer></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
  <header class="center">
    <span class="logo">E-Shop</span>
    <input type="text" class="search" v-model="searchValue" placeholder="Search..."/>
    <button @click="handleCartButtonClick" class="cart-button" type="button">Корзина</button>
    <div v-if="isVisible" class="cart">
      <div class="item" v-for="Item in basketGoods">
        <p class="cart-item__title">{{item.product_name}}</p>
        <p>{{item.quantity}} x {{item.price}}</p>
      </div>
    </div>
</header>
<main>
  <div class="goods center">
    <div class="item" v-for="Item in filteredGoods">
      <h3>{{item.product_name}}</h3>
      <p>{{item.price}}</p>
      <button type="button" v-on:click="addToBasket(item)">В корзину</button>
      </div>
      <div v-if="!filteredGoods.lenght" class="goods-empty">Нет данных</div>
  </div>
</main>
</div>
</body>
</html>