* {
    margin: 0;
}

.center {
    padding: 0 calc(50% - 590px);
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
}

.goods-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.goods-item {
    border: 1px solid lightgray;
    margin: 10px 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

img {
    display: block;
    height: 200px;
    width: 200px;
}

h3,
p {
    margin: 10px 0px;
}

.cart {
    position: absolute;
    right: 370px;
    top: 65px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 3px 6px black;
    width: 300px;
}

.cart_item {
    margin-bottom: 20px;
}

.cart-item__title {
    font-weight: bold;
}