header {
    width: 100%;
    height: 5vh;
    border: 1px solid crimson;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-button {
    cursor: pointer;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
}

main {
    width: 100%;
    height: 50vh;
    border: 1px solid orange;
    padding: 2vh 2vw;
}

.goods {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.item .pic {
    height: 80px;
    width: 80px;
    border: 1px solid black;

}