header {
    width: 100%;
    height: 5vh;
    border: 1px solid crimson;
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-button {
    cursor: pointer;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
}

main {
    height: 100vh;
    border: 1px solid orange;
    padding: 2vh 2vw;
    margin: 0 5vw;
}

.cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.catalogue {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    border: 1px solid black;
    /*max-width: 10vw;*/
    /*max-height: 10vh;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item .pic {
    height: 80px;
    width: 80px;
    border: 1px solid black;

}

.add-button {
    cursor: pointer;
    height: 5vh;
    width: 8vw;
    border-radius: 2px;
}

.remove-button {
    cursor: pointer;
    height: 5vh;
    width: 8vw;
    border-radius: 2px;
}