.header {
    display: flex;
    justify-content: space-between;
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.main {
    display: flex;
    justify-content: center;
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.goods {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.item {
    width: 200px;
    display: flex;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}