@font-face {
  font-family: Exo, 'Montserrat', sans-serif;
  src: url("../fonts/Exo.otf");
}

@font-face {
  font-family: "Open Sans", 'Lato', sans-serif;
  src: url("../fonts/OpenSans.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a, button {
  text-decoration: none;
}

a:hoover, button:hoover {
  text-decoration: none;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

section.gap-30 {
  height: 30px;
}

section.gap-40 {
  height: 40px;
}

section.gap-60 {
  height: 60px;
}

section.gap-80 {
  height: 80px;
}

section.gap-100 {
  height: 100px;
}

.mainsect {
  width: 1600px;
  margin-left: calc(50% - 1600px/2);
  margin-right: calc(50% - 1600px/2);
}

.fullsect {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.widecontent {
  width: 1140px;
  margin-left: calc(50% - 1140px/2);
  margin-right: calc(50% - 1140px/2);
}

.maincontent,
.container {
  width: 1600px;
  padding-left: calc(50% - 1140px/2);
  padding-right: calc(50% - 1140px/2);
}

.center {
  padding-left: calc(50% - 1140px/2);
  padding-right: calc(50% - 1140px/2);
}

.set-primary {
  color: #f16d7f;
}

#topbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: url("../images/promo.jpg") no-repeat;
  background-size: 100%;
}

#topbox #top-logo svg {
  width: auto;
  height: 32px;
  max-height: 40px;
  stroke-width: 4px;
}

#topbox #top-logo svg:hover {
  stroke: red;
  stroke-width: 6px;
  stroke-dasharray: 175;
  stroke-dashoffset: 170;
  -webkit-animation: logos 2s linear forwards;
          animation: logos 2s linear forwards;
}

@-webkit-keyframes logos {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logos {
  to {
    stroke-dashoffset: 0;
  }
}

#topbox .logo-company {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  font-size: 1.3em;
  line-height: 40px;
  color: #e6e09a;
}

#topbox #top-menu {
  height: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#topbox #top-menu a {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
}

#topbox #top-menu a:hover, #topbox #top-menu a:focus, #topbox #top-menu a:active {
  background: #5e5e5e;
}

#topbox #top-menu .menu-items {
  padding: 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

#topbox #top-menu .menu-items:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

footer {
  padding: 20px 0;
  background: url("../images/footerback.png");
  color: #fff;
  font-size: small;
  width: 100%;
}

footer #footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
}

footer #footer-box #contacts {
  padding-left: 20px;
  width: 340px;
}

footer #footer-box #contacts .contactWrap {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
}

footer #footer-box #contacts .contactIcon {
  width: 40px;
  height: 25px;
  float: left;
  margin-right: 10px;
}

footer #footer-box #footerNav {
  float: right;
  margin-right: 20px;
  width: 200px;
}

footer #footer-box #footerNav a {
  display: block;
  text-align: right;
  color: #e6e09a;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: right;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer #footer-box #footerNav a:hover {
  color: #fff;
}

.promo {
  height: 500px;
  background-color: #e8e8e8;
  background-image: url("../images/promo.jpg");
  background-repeat: no-repeat;
  background-position: -50px -510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.promo .box-600-92-12 {
  width: 600px;
  height: 92px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 12px solid #f16d7f;
}

.promo-title {
  font-size: 70px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.02em;
  line-height: 55px;
}

.promo-trend {
  font-size: 40px;
  font-weight: 700;
  color: #222222;
  letter-spacing: 0.02em;
  line-height: 40px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-header {
  width: 100%;
  height: 30px;
  display: block;
  text-align: center;
}

.product-header .title {
  height: 30px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 30px;
}

.product-header .text {
  margin-top: 12px;
  height: 15px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 15px;
}

.product-gallery {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-gallery .card {
  height: 350px;
  width: 261px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #e6e6e6;
}

.product-gallery .card-link {
  display: block;
  overflow: hidden;
  height: 259px;
  width: 259px;
}

.product-gallery .card-img {
  height: 259px;
  width: 100%;
  background-color: #e9e9e9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-gallery .card-info {
  padding: 15px 15px;
}

.product-gallery .card-title {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
}

.product-gallery .card-descr {
  display: none;
}

.product-gallery .card-price {
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-gallery .card-stars {
  display: none;
  height: 14px;
  width: 70px;
  color: #e4af48;
}

.product-gallery .card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product-gallery .card:hover .card-img {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.product-gallery .card:hover .add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.product-gallery .card:hover .card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-gallery .card .add-to-cart {
  height: 39px;
  width: 123px;
  color: white;
  border: 1px solid white;
  position: absolute;
  top: 97px;
  left: 70px;
  font-weight: bold;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product-browse .button-browse {
  height: 48px;
  width: 212px;
  font-weight: bold;
  color: white;
  background-color: #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-browse .button-browse button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
}

.product-browse .button-browse:hover {
  background-color: #ed3e56;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */