.header{
    width: 1140px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:lightgray;
}
.basketButton{
    height: 40px;
    width: 160px;
   
}
.basketGoods{
    background-color: lightgray;
    width: 250px;
    height: 600px;
    position: absolute;
    right: 42px;
    top: -50px;
}
main{
    width: 1220px;
    margin-top: 50px;
    display: flex;
    padding: 0;
    position: relative;
}
.goods{
    display: flex;
     width: 1140px;
    justify-content: space-between;
    padding: 20px;
   
}
.item{
    background-color: gainsboro;
    width: 250px;
    text-align: center;
}
